<a href="https://colab.research.google.com/github/shubhamtapadia/DataScience_Stuff/blob/main/UAudioBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
data =  pd.read_csv("/gdrive/MyDrive/DataScience_Stuff/Audiobooks_data.csv")
data

,00994,1620,1620.1,19.73,19.73.1,1,10.00,0.99,1603.80,5,92,0
0,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
1,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
2,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
3,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
4,3416,2160.0,2160,4.61,4.61,0,8.91,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14078,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14079,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14080,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14081,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14082,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [4]:
data.head(5)

   00994    1620  1620.1  19.73  19.73.1  1  10.00  0.99  1603.80  5   92  0
0   1143  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0    0  0
1   2059  2160.0    2160   5.33     5.33  0   8.91  0.00      0.0  0  388  0
2   2882  1620.0    1620   5.96     5.96  0   8.91  0.42    680.4  1  129  0
3   3342  2160.0    2160   5.33     5.33  0   8.91  0.22    475.2  0  361  0
4   3416  2160.0    2160   4.61     4.61  0   8.91  0.00      0.0  0    0  0

In [5]:
data.columns = ['users id', 'Book_length(mins)_overall', 'Book_length(mins)_avg', 'Price_overall', 'Price_avg', 'Review', 'Review10/10', 'Completion', 'Minutes_listened', 'Support_Request', 'Last_Visited_mins_Purchase_date', 'Target']

In [ ]:
data.head(10)

,users id,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date,Target
0,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
1,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
2,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
3,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
4,3416,2160.0,2160,4.61,4.61,0,8.91,0.00,0.0,0,0,0
5,4949,2160.0,2160,5.33,5.33,0,8.91,0.04,86.4,0,366,0
6,9011,648.0,648,5.33,5.33,0,8.91,0.00,0.0,0,0,1
7,9282,2160.0,2160,5.33,5.33,0,8.91,0.26,561.6,0,33,0
8,10500,2160.0,2160,5.33,5.33,1,10.00,0.27,583.2,0,366,0
9,12898,540.0,540,5.33,5.33,0,8.91,0.28,151.2,0,34,0

In [6]:
unscaled_train=data.iloc[ : ,:-1 ]
unscaled_train.head(3)

,users id,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date
0,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0
1,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388
2,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129

In [7]:
unscaled_target = data.iloc[:,-1:]
unscaled_target.head(3)

   Target
0       0
1       0
2       0

In [8]:
unscaled_target.value_counts()

Target
0         11846
1          2237
dtype: int64

In [9]:
# Here you can see data is not balnced 
no_of_1_target = int(np.sum(unscaled_target))
x=[]
sum=0

for i in range(unscaled_target.shape[0]):
  #print(i)
  if unscaled_target.Target[i] == 0:
    sum =sum+1

    if sum>no_of_1_target:
      x.append(i)

balanced_Target = unscaled_target.drop(x)
balanced_Train = unscaled_train.drop(x)

balanced_Train.count()

users id                           4474
Book_length(mins)_overall          4474
Book_length(mins)_avg              4474
Price_overall                      4474
Price_avg                          4474
Review                             4474
Review10/10                        4474
Completion                         4474
Minutes_listened                   4474
Support_Request                    4474
Last_Visited_mins_Purchase_date    4474
dtype: int64

In [10]:
unscaled_balanced_Input = balanced_Train
unscaled_balanced_Target = balanced_Target

In [11]:
#Scale data

from sklearn import preprocessing

#Here we only scale Input data
scaled_balanced_Input = preprocessing.scale(unscaled_balanced_Input)
scaled_balanced_Input

#OR

#from sklearn.preprocessing import StandardScaler
#std_scaler = StandardScaler()
#scaled_balanced_Input_1 = std_scaler.fit_transform(unscaled_balanced_Input)
#scaled_balanced_Input_1

array([[-1.61060453,  1.27847885,  0.41632573, ..., -0.41559932,
        -0.20233774, -0.80231182],
       [-1.51546301,  1.27847885,  0.41632573, ..., -0.41559932,
        -0.20233774,  2.9792118 ],
       [-1.42998106,  0.21025768, -0.18901757, ...,  1.8068862 ,
         2.24430837,  0.45494732],
       ...,
       [ 0.41125664,  1.27847885,  0.41632573, ..., -0.41559932,
        -0.20233774, -0.74383465],
       [ 0.68328245,  0.3170798 ,  1.74808099, ..., -0.41559932,
        -0.20233774, -0.80231182],
       [-1.70325326,  0.3170798 ,  1.74808099, ..., -0.41559932,
        -0.20233774, -0.80231182]])

In [12]:
#Shuffle data
shuffled_indices = np.arange(scaled_balanced_Input.shape[0])
np.random.shuffle(shuffled_indices)

shuffled_scaled_balanced_Input = scaled_balanced_Input[shuffled_indices]
shuffled_balanced_Target = unscaled_balanced_Target[shuffled_indices]

KeyError: ignored

________________________________________________________________________________Proper Best Way To Solve ________________________________________________________________________________

In [13]:
# Insted of Sepretly Suffle Input and Target like above we can directly do it on main data like below
# Here you can see data is not balnced 
no_of_1_target = int(np.sum(unscaled_target))
x=[]
sum=0

for i in range(unscaled_target.shape[0]):
  #print(i)
  if unscaled_target.Target[i] == 0:
    sum =sum+1

    if sum>no_of_1_target:
      x.append(i)

In [14]:
# Drop x from main data 

balance_main_data = data.drop(x)
balance_main_data.Target.value_counts()

0    2237
1    2237
Name: Target, dtype: int64

In [15]:
balance_main_data.head(20)

,users id,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date,Target
0,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
1,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
2,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
3,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
4,3416,2160.0,2160,4.61,4.61,0,8.91,0.00,0.0,0,0,0
5,4949,2160.0,2160,5.33,5.33,0,8.91,0.04,86.4,0,366,0
6,9011,648.0,648,5.33,5.33,0,8.91,0.00,0.0,0,0,1
7,9282,2160.0,2160,5.33,5.33,0,8.91,0.26,561.6,0,33,0
8,10500,2160.0,2160,5.33,5.33,1,10.00,0.27,583.2,0,366,0
9,12898,540.0,540,5.33,5.33,0,8.91,0.28,151.2,0,34,0
10,16370,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,1
11,16587,2160.0,2160,13.33,13.33,0,8.91,0.60,1296.0,0,98,0
12,18065,648.0,648,50.66,50.66,0,8.91,0.00,0.0,0,0,0
13,19313,2160.0,2160,7.03,7.03,0,8.91,0.00,0.0,0,0,0
14,19996,594.0,1188,29.33,58.67,0,10.00,0.00,0.0,0,0,1
15,20124,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,29,0
16,23153,1620.0,1620,11.68,11.68,1,8.00,0.71,1150.2,1,25,0
17,23372,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,1,0
18,23757,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,9,0
19,24187,1620.0,1620,14.29,14.29,1,7.00,0.43,696.6,0,66,0

In [16]:
#Shuffle data
shuffled_balanced_main_data = balance_main_data.sample(frac=1, random_state=1)
shuffled_balanced_main_data

,users id,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date,Target
4914,15928,1188.0,1188,5.90,5.90,0,8.91,0.00,0.00,0,250,1
1518,27775,1620.0,1620,8.00,8.00,0,8.91,0.06,97.20,0,0,0
534,819,432.0,1296,7.11,21.33,1,9.00,0.00,0.00,0,0,1
906,7209,1188.0,1188,5.99,5.99,0,8.91,0.47,558.36,0,209,0
3343,11392,1188.0,1188,6.14,6.14,0,8.91,0.00,0.00,0,68,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3024,13952,1620.0,1620,5.33,5.33,1,7.50,0.00,0.00,0,101,1
2763,14782,1080.0,1080,5.33,5.33,0,8.91,0.00,0.00,0,51,0
905,7155,1188.0,1188,5.33,5.33,0,8.91,0.02,23.76,0,43,0
10831,8040,1134.0,2268,5.33,10.67,0,8.91,0.00,0.00,0,0,1
235,18413,2160.0,2160,5.33,5.33,0,8.91,0.10,216.00,0,349,0

In [17]:
#Scale data
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

column_to_scale = ['users id', 'Book_length(mins)_overall', 'Book_length(mins)_avg', 'Price_overall', 'Price_avg', 'Review', 'Review10/10', 'Completion', 'Minutes_listened', 'Support_Request', 'Last_Visited_mins_Purchase_date']

shuffled_balanced_main_data[column_to_scale] =std_scaler.fit_transform(shuffled_balanced_main_data[column_to_scale])
shuffled_balanced_main_data

,users id,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date,Target
4914,-0.074941,-0.644319,-0.673292,-0.296596,-0.430924,-0.474075,0.001760,-0.426284,-0.415599,-0.202338,1.634237,1
1518,1.155562,0.210258,-0.189018,0.049031,-0.146998,-0.474075,0.001760,-0.142729,-0.098101,-0.202338,-0.802312,0
534,-1.644257,-2.139829,-0.552224,-0.097449,1.655254,2.109372,0.124792,-0.426284,-0.415599,-0.202338,-0.802312,1
906,-0.980552,-0.644319,-0.673292,-0.281784,-0.418756,-0.474075,0.001760,1.794902,1.408250,-0.202338,1.234643,0
3343,-0.546079,-0.644319,-0.673292,-0.257096,-0.398476,-0.474075,0.001760,-0.426284,-0.415599,-0.202338,-0.139571,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3024,-0.280181,0.210258,-0.189018,-0.390409,-0.507990,2.109372,-1.925739,-0.426284,-0.415599,-0.202338,0.182054,1
2763,-0.193972,-0.857963,-0.794361,-0.390409,-0.507990,-0.474075,0.001760,-0.426284,-0.415599,-0.202338,-0.305256,0
905,-0.986160,-0.644319,-0.673292,-0.390409,-0.507990,-0.474075,0.001760,-0.331766,-0.337989,-0.202338,-0.383225,0
10831,-0.894239,-0.751141,0.537394,-0.390409,0.213993,-0.474075,0.001760,-0.426284,-0.415599,-0.202338,-0.802312,1
235,0.183166,1.278479,0.416326,-0.390409,-0.507990,-0.474075,0.001760,0.046309,0.289952,-0.202338,2.599110,0

In [18]:
x=shuffled_balanced_main_data.drop('Target',axis='columns')
y=shuffled_balanced_main_data.Target

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2,random_state=5)

In [20]:
x_train.shape

(3579, 11)

In [21]:
shuffled_balanced_main_data.shape

(4474, 12)

In [22]:
2236 + 1120 +1118
#4474/4

4474

In [23]:
#Manually Divide data
train_shuffled_balanced_main_data_input = shuffled_balanced_main_data.iloc[:2236,:-1]
train_shuffled_balanced_main_data_target = shuffled_balanced_main_data.iloc[:2236,-1:]

validation_shuffled_balanced_main_data_input = shuffled_balanced_main_data.iloc[2236:2236+1120,:-1]
validation_shuffled_balanced_main_data_target = shuffled_balanced_main_data.iloc[2236:2236+1120,-1:]

test_shuffled_balanced_main_data_input = shuffled_balanced_main_data.iloc[2236+1120:,:-1]
test_shuffled_balanced_main_data_target = shuffled_balanced_main_data.iloc[2236+1120:,-1:]

In [24]:
np.savez('Audiobooks_data_train_by_me', inputs=train_shuffled_balanced_main_data_input, targets=train_shuffled_balanced_main_data_target)
np.savez('Audiobooks_data_validation_by_me', inputs=validation_shuffled_balanced_main_data_input, targets=validation_shuffled_balanced_main_data_target)
np.savez('Audiobooks_data_test_by_me', inputs=test_shuffled_balanced_main_data_input, targets=test_shuffled_balanced_main_data_target)

**Using Simple decision tree Algorithum**

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_train, y_train)

In [26]:
dtree.score(x_test, y_test)

0.8033519553072626

**Using Random Forest Algorithum**

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf_model= RandomForestClassifier()
rf_model.fit(x_train,y_train)
rf_model.score(x_test,y_test)

0.8223463687150838

**Using SVM Algorithum**

In [28]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', C = 0.1, gamma = 0.1)
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.7664804469273743

**Using Logistic Regression Algorithum**

In [31]:
from sklearn.linear_model import LogisticRegression
LR_model = LogisticRegression()
LR_model.fit(x_train, y_train)
LR_model.score(x_test, y_test)

0.776536312849162

**Using function Check with all algorithums with there best parameters**

In [36]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    },
    'Decision_Tree': {
        'model': DecisionTreeClassifier(),
        'params' : {
            
        }  
    },
    'KNN': {
        'model': KNeighborsClassifier(),
        'params' : {
            
        }  
    },
}


from sklearn.model_selection import GridSearchCV
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=2, return_train_score=False)
    clf.fit(x, y)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                 best_params
0                  svm    0.800179  {'C': 20, 'kernel': 'rbf'}
1        random_forest    0.808225         {'n_estimators': 5}
2  logistic_regression    0.787662                   {'C': 10}
3        Decision_Tree    0.789003                          {}
4                  KNN    0.748547                          {}

**Using NN**

In [37]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(11, input_shape=(11,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

#Loss is binary creoss entropy bcz we have 0 & 1 value of output
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
112/112 [==============================] - 1s 2ms/step - loss: 0.7206 - accuracy: 0.5197
Epoch 2/100
112/112 [==============================] - 0s 2ms/step - loss: 0.5828 - accuracy: 0.6586
Epoch 3/100
112/112 [==============================] - 0s 2ms/step - loss: 0.5149 - accuracy: 0.7220
Epoch 4/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4762 - accuracy: 0.7410
Epoch 5/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4510 - accuracy: 0.7513
Epoch 6/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4339 - accuracy: 0.7578
Epoch 7/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4214 - accuracy: 0.7647
Epoch 8/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4122 - accuracy: 0.7670
Epoch 9/100
112/112 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.7742
Epoch 10/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.7795
Epoch 11/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.7823
Epoch 12/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.7818
Epoch 13/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3854 - accuracy: 0.7851
Epoch 14/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.7826
Epoch 15/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3794 - accuracy: 0.7893
Epoch 16/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3761 - accuracy: 0.7874
Epoch 17/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.7910
Epoch 18/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.7913
Epoch 19/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3689 - accuracy: 0.7930
Epoch 20/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3670 - accuracy: 0.7935
Epoch 21/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3649 - accuracy: 0.7958
Epoch 22/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3622 - accuracy: 0.8061
Epoch 23/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.7969
Epoch 24/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3592 - accuracy: 0.8027
Epoch 25/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8013
Epoch 26/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8050
Epoch 27/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3547 - accuracy: 0.8047
Epoch 28/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8089
Epoch 29/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8089
Epoch 30/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8108
Epoch 31/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8100
Epoch 32/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8108
Epoch 33/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8061
Epoch 34/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8097
Epoch 35/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8170
Epoch 36/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8117
Epoch 37/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8044
Epoch 38/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8089
Epoch 39/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8150
Epoch 40/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8175
Epoch 41/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8108
Epoch 42/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8161
Epoch 43/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8125
Epoch 44/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8161
Epoch 45/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8173
Epoch 46/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8156
Epoch 47/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8167
Epoch 48/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8173
Epoch 49/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8173
Epoch 50/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8159
Epoch 51/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8153
Epoch 52/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8145
Epoch 53/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8156
Epoch 54/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8173
Epoch 55/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8142
Epoch 56/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8178
Epoch 57/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8195
Epoch 58/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8178
Epoch 59/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8170
Epoch 60/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8226
Epoch 61/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8159
Epoch 62/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8206
Epoch 63/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8189
Epoch 64/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8159
Epoch 65/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8170
Epoch 66/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8178
Epoch 67/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8156
Epoch 68/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8139
Epoch 69/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8159
Epoch 70/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8189
Epoch 71/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8184
Epoch 72/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8167
Epoch 73/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8170
Epoch 74/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8201
Epoch 75/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8175
Epoch 76/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3300 - accuracy: 0.8170
Epoch 77/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8203
Epoch 78/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8189
Epoch 79/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8125
Epoch 80/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8156
Epoch 81/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8181
Epoch 82/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8175
Epoch 83/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8198
Epoch 84/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3288 - accuracy: 0.8178
Epoch 85/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3281 - accuracy: 0.8173
Epoch 86/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8215
Epoch 87/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8206
Epoch 88/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8184
Epoch 89/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3273 - accuracy: 0.8195
Epoch 90/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3280 - accuracy: 0.8159
Epoch 91/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3272 - accuracy: 0.8206
Epoch 92/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8212
Epoch 93/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3270 - accuracy: 0.8189
Epoch 94/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3272 - accuracy: 0.8226
Epoch 95/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3267 - accuracy: 0.8201
Epoch 96/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8226
Epoch 97/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3262 - accuracy: 0.8212
Epoch 98/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3261 - accuracy: 0.8220
Epoch 99/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3260 - accuracy: 0.8192
Epoch 100/100
112/112 [==============================] - 0s 2ms/step - loss: 0.3257 - accuracy: 0.8203